  </div>
  <footer>
    <span>2018 © <abbr title="Passport Blog With Express">PB</abbr></span>
    <span>Powered by <abbr title="WuHan University">WHU</abbr> |  <a target="_blank" href="javascript:;">Abraham</a></span>
  </footer>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/bootstrap-4.1.2/js/bootstrap.min.js"></script>
</body>
</html>