<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap-4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome-5.1.1/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="/css/article.css">
</head>
<body>
  <div class="container-fluid">
  <!-- 用户登录和用户注册页面不显示导航栏 -->
  <% if (title.indexOf('用户') < 0) { %>
    <%- include('../includes/nav') %>
  <% } %>
  <%- include('../includes/message') -%>
